%h1
  Расширенная статистика по пожарам
  = link_to "На главную", root_path

%article
  %table.main
    %thead
      %tr.filtres
        %th Наименование
        %th Январь
        %th Февраль
        %th Март
        %th Апрель
        %th Май
        %th Июнь
        %th Июль
        %th Август
        %th Сентябрь
        %th Октябрь
        %th Ноябрь
        %th Декабрь
    %tbody
      %tr.main
        %td.tr_name
          Случаев
      %tr.main
        %td.tr_name
          Погибло
      %tr.main
        %td.tr_name
          Пострадало
      %tr.main
        %td.tr_name
          Спасено (люд)
      %tr.main
        %td.tr_name
          Ущерб
      %tr.main
        %td.tr_name
          Спасено (руб)