%h1 Расширенная статистика
%table.full_stat
  %thead
    %th Наим-е
    %th Сутки
    %th Неделя
    %th Месяц
    %th 3 Мес.
    %th 6 мес.
    %th 9 мес.
    %th год
    %th Янв.
    %th Февр.
    %th Март
    %th Апр.
    %th Май
    %th Июнь
    %th Июль
    %th Авг.
    %th Сен.
    %th Окт.
    %th Ноя.
    %th Дек.
  %tbody
    %tr.tab_name
      %td{:colspan => "22"} Пожары
    %tr.fs.tr_name
      %td Пожаров
      - # Сутки
      %td
        =@fire_daily
      - # Неделя
      %td
        =@fire_wekly
      - # Месяц
      %td
        =@fire_month
      - # 3 Месяца
      %td
        =@fire_3month
      - # 6 Месяцев
      %td
        =@fire_6month
      - # 9 Месяцев
      %td
        =@fire_9month
      - # Год
      %td
        =@fire_year
      - # Янваь
      %td
        =@fire_jan
      - # Февраль
      %td
        =@fire_feb
      - # Март
      %td
        =@fire_mar
      - # Апрель
      %td
        =@fire_apr
      - # Май
      %td
        =@fire_may
      - # Июнь
      %td
        =@fire_jun
      - # Июль
      %td
        =@fire_jul
      - # Август
      %td
        =@fire_aug
      - # Сентябрь
      %td
        =@fire_sep
      - # Октябрь
      %td
        =@fire_okt
      - # Ноябрь
      %td
        =@fire_nov
      - # Декабрь
      %td
        =@fire_dec
    %tr.fs.tr_name
      %td В городе
      - # Сутки
      %td
        =@fire_city_daily
      - # Неделя
      %td
        =@fire_city_wekly
      - # Месяц
      %td
        =@fire_city_month
      - # 3 Месяца
      %td
        =@fire_city_3month
      - # 6 Месяцев
      %td
        =@fire_city_6month
      - # 9 Месяцев
      %td
        =@fire_city_9month
      - # Год
      %td
        =@fire_city_year
      - # Янваь
      %td
        =@fire_city_jan
      - # Февраль
      %td
        =@fire_city_feb
      - # Март
      %td
        =@fire_city_mar
      - # Апрель
      %td
        =@fire_city_apr
      - # Май
      %td
        =@fire_city_may
      - # Июнь
      %td
        =@fire_city_jun
      - # Июль
      %td
        =@fire_city_jul
      - # Август
      %td
        =@fire_city_aug
      - # Сентябрь
      %td
        =@fire_city_sep
      - # Октябрь
      %td
        =@fire_city_okt
      - # Ноябрь
      %td
        =@fire_city_nov
      - # Декабрь
      %td
        =@fire_city_dec
    %tr.fs.tr_name
      %td В районе
      - # Сутки
      %td
        =@fire_raion_daily
      - # Неделя
      %td
        =@fire_raion_wekly
      - # Месяц
      %td
        =@fire_raion_month
      - # 3 Месяца
      %td
        =@fire_raion_3month
      - # 6 Месяцев
      %td
        =@fire_raion_6month
      - # 9 Месяцев
      %td
        =@fire_raion_9month
      - # Год
      %td
        =@fire_raion_year
      - # Янваь
      %td
        =@fire_raion_jan
      - # Февраль
      %td
        =@fire_raion_feb
      - # Март
      %td
        =@fire_raion_mar
      - # Апрель
      %td
        =@fire_raion_apr
      - # Май
      %td
        =@fire_raion_may
      - # Июнь
      %td
        =@fire_raion_jun
      - # Июль
      %td
        =@fire_raion_jul
      - # Август
      %td
        =@fire_raion_aug
      - # Сентябрь
      %td
        =@fire_raion_sep
      - # Октябрь
      %td
        =@fire_raion_okt
      - # Ноябрь
      %td
        =@fire_raion_nov
      - # Декабрь
      %td
        =@fire_raion_dec
    %tr.fs.tr_name
      %td Ущерб тыс.р.
      - # Сутки
      %td
        =@fire_daily_ush
      - # Неделя
      %td
        =@fire_weekly_ush
      - # Месяц
      %td
        =@fire_m_usherb
      - # 3 Месяца
      %td
        =@fire_3m_usherb
      - # 6 Месяцев
      %td
        =@fire_6m_usherb
      - # 9 Месяцев
      %td
        =@fire_9m_usherb
      - # Год
      %td
        =@fire_y_usherb
      - # Янваь
      %td
        =@fire_ush_jan
      - # Февраль
      %td
        =@fire_ush_feb
      - # Март
      %td
        =@fire_ush_mar
      - # Апрель
      %td
        =@fire_ush_apr
      - # Май
      %td
        =@fire_ush_may
      - # Июнь
      %td
        =@fire_ush_jun
      - # Июль
      %td
        =@fire_ush_jul
      - # Август
      %td
        =@fire_ush_aug
      - # Сентябрь
      %td
        =@fire_ush_sep
      - # Октябрь
      %td
        =@fire_ush_okt
      - # Ноябрь
      %td
        =@fire_ush_nov
      - # Декабрь
      %td
        =@fire_ush_dec
    %tr.fs.tr_name
      %td Спасено тыс. р.
      - # Сутки
      %td
        =@fr_spas_day
      - # Неделя
      %td
        =@fr_spas_wek
      - # Месяц
      %td
        =@fr_spas_mon
      - # 3 Месяца
      %td
        =@fr_spas_3mon
      - # 6 Месяцев
      %td
        =@fr_spas_6mon
      - # 9 Месяцев
      %td
        =@fr_spas_9mon
      - # Год
      %td
        =@fr_spas_year
      - # Янваь
      %td
        =@fr_spas_jan
      - # Февраль
      %td
        =@fr_spas_feb
      - # Март
      %td
        =@fr_spas_mar
      - # Апрель
      %td
        =@fr_spas_apr
      - # Май
      %td
        =@fr_spas_may
      - # Июнь
      %td
        =@fr_spas_jun
      - # Июль
      %td
        =@fr_spas_jul
      - # Август
      %td
        =@fr_spas_aug
      - # Сентябрь
      %td
        =@fr_spas_sep
      - # Октябрь
      %td
        =@fr_spas_okt
      - # Ноябрь
      %td
        =@fr_spas_nov
      - # Декабрь
      %td
        =@fr_spas_dec
    %tr.fs.tr_name
      %td Погибло
      - # Сутки
      %td
        =@fr_pog_day
      - # Неделя
      %td
        =@fr_pog_wek
      - # Месяц
      %td
        =@fr_pog_mon
      - # 3 Месяца
      %td
        =@fr_pog_3mon
      - # 6 Месяцев
      %td
        =@fr_pog_6mon
      - # 9 Месяцев
      %td
        =@fr_pog_9mon
      - # Год
      %td
        =@fr_pog_year
      - # Янваь
      %td
        =@fr_pog_jan
      - # Февраль
      %td
        =@fr_pog_feb
      - # Март
      %td
        =@fr_pog_mar
      - # Апрель
      %td
        =@fr_pog_apr
      - # Май
      %td
        =@fr_pog_may
      - # Июнь
      %td
        =@fr_pog_jun
      - # Июль
      %td
        =@fr_pog_jul
      - # Август
      %td
        =@fr_pog_aug
      - # Сентябрь
      %td
        =@fr_pog_sep
      - # Октябрь
      %td
        =@fr_pog_okt
      - # Ноябрь
      %td
        =@fr_pog_nov
      - # Декабрь
      %td
        =@fr_pog_dec
    %tr.fs.tr_name
      %td Пострадало
      - # Сутки
      %td
        =@fr_pos_day
      - # Неделя
      %td
        =@fr_pos_wek
      - # Месяц
      %td
        =@fr_pos_mon
      - # 3 Месяца
      %td
        =@fr_pos_3mon
      - # 6 Месяцев
      %td
        =@fr_pos_6mon
      - # 9 Месяцев
      %td
        =@fr_pos_9mon
      - # Год
      %td
        =@fr_pos_year
      - # Янваь
      %td
        =@fr_pos_jan
      - # Февраль
      %td
        =@fr_pos_feb
      - # Март
      %td
        =@fr_pos_mar
      - # Апрель
      %td
        =@fr_pos_apr
      - # Май
      %td
        =@fr_pos_may
      - # Июнь
      %td
        =@fr_pos_jun
      - # Июль
      %td
        =@fr_pos_jul
      - # Август
      %td
        =@fr_pos_aug
      - # Сентябрь
      %td
        =@fr_pos_sep
      - # Октябрь
      %td
        =@fr_pos_okt
      - # Ноябрь
      %td
        =@fr_pos_nov
      - # Декабрь
      %td
        =@fr_pos_dec
    %tr.fs.tr_name
      %td Спасено люд.
      - # Сутки
      %td
        =@fr_saveppl_day
      - # Неделя
      %td
        =@fr_saveppl_wek
      - # Месяц
      %td
        =@fr_saveppl_mon
      - # 3 Месяца
      %td
        =@fr_saveppl_3mon
      - # 6 Месяцев
      %td
        =@fr_saveppl_6mon
      - # 9 Месяцев
      %td
        =@fr_saveppl_9mon
      - # Год
      %td
        =@fr_saveppl_year
      - # Янваь
      %td
        =@fr_saveppl_jan
      - # Февраль
      %td
        =@fr_saveppl_feb
      - # Март
      %td
        =@fr_saveppl_mar
      - # Апрель
      %td
        =@fr_saveppl_apr
      - # Май
      %td
        =@fr_saveppl_may
      - # Июнь
      %td
        =@fr_saveppl_jun
      - # Июль
      %td
        =@fr_saveppl_jul
      - # Август
      %td
        =@fr_saveppl_aug
      - # Сентябрь
      %td
        =@fr_saveppl_sep
      - # Октябрь
      %td
        =@fr_saveppl_okt
      - # Ноябрь
      %td
        =@fr_saveppl_nov
      - # Декабрь
      %td
        =@fr_saveppl_dec
    %tr.fs.tr_name
      %td Кол-во гдзс
      - # Сутки
      %td
        =@fr_gdzs_day
      - # Неделя
      %td
        =@fr_gdzs_wek
      - # Месяц
      %td
        =@fr_gdzs_mon
      - # 3 Месяца
      %td
        =@fr_gdzs_3mon
      - # 6 Месяцев
      %td
        =@fr_gdzs_6mon
      - # 9 Месяцев
      %td
        =@fr_gdzs_9mon
      - # Год
      %td
        =@fr_gdzs_year
      - # Янваь
      %td
        =@fr_gdzs_jan
      - # Февраль
      %td
        =@fr_gdzs_feb
      - # Март
      %td
        =@fr_gdzs_mar
      - # Апрель
      %td
        =@fr_gdzs_apr
      - # Май
      %td
        =@fr_gdzs_may
      - # Июнь
      %td
        =@fr_gdzs_jun
      - # Июль
      %td
        =@fr_gdzs_jul
      - # Август
      %td
        =@fr_gdzs_aug
      - # Сентябрь
      %td
        =@fr_gdzs_sep
      - # Октябрь
      %td
        =@fr_gdzs_okt
      - # Ноябрь
      %td
        =@fr_gdzs_nov
      - # Декабрь
      %td
        =@fr_gdzs_dec
    %tr.fs.tr_name
      %td Время ГДЗС
      - # Сутки
      %td
        =@fr_ggdzs_time_day
      - # Неделя
      %td
        =@fr_gdzs_time_wek
      - # Месяц
      %td
        =@fr_gdzs_time_mon
      - # 3 Месяца
      %td
        =@fr_gdzs_time_3mon
      - # 6 Месяцев
      %td
        =@fr_gdzs_time_6mon
      - # 9 Месяцев
      %td
        =@fr_gdzs_time_9mon
      - # Год
      %td
        =@fr_gdzs_time_year
      - # Янваь
      %td
        =@fr_gdzs_time_jan
      - # Февраль
      %td
        =@fr_gdzs_time_feb
      - # Март
      %td
        =@fr_gdzs_time_mar
      - # Апрель
      %td
        =@fr_gdzs_time_apr
      - # Май
      %td
        =@fr_gdzs_time_may
      - # Июнь
      %td
        =@fr_gdzs_time_jun
      - # Июль
      %td
        =@fr_gdzs_time_jul
      - # Август
      %td
        =@fr_gdzs_time_aug
      - # Сентябрь
      %td
        =@fr_gdzs_time_sep
      - # Октябрь
      %td
        =@fr_gdzs_time_okt
      - # Ноябрь
      %td
        =@fr_gdzs_time_nov
      - # Декабрь
      %td
        =@fr_gdzs_time_dec
    %tr.tab_name
      %td{:colspan => "22"}  ДТП
    %tr.fs.tr_name
      %td Происшествий
      - # Сутки
      %td 0
      - # Неделя
      %td 0
      - # Месяц
      %td 0
      - # 3 Месяца
      %td 0
      - # 6 Месяцев
      %td 0
      - # 9 Месяцев
      %td 0
      - # Год
      %td 0
      - # Янваь
      %td 0
      - # Февраль
      %td 0
      - # Март
      %td 0
      - # Апрель
      %td 0
      - # Май
      %td 0
      - # Июнь
      %td 0
      - # Июль
      %td 0
      - # Август
      %td 0
      - # Сентябрь
      %td 0
      - # Октябрь
      %td 0
      - # Ноябрь
      %td 0
      - # Декабрь
      %td 0
    %tr.fs.tr_name
      %td Деблокировано
      - # Сутки
      %td 0
      - # Неделя
      %td 0
      - # Месяц
      %td 0
      - # 3 Месяца
      %td 0
      - # 6 Месяцев
      %td 0
      - # 9 Месяцев
      %td 0
      - # Год
      %td 0
      - # Янваь
      %td 0
      - # Февраль
      %td 0
      - # Март
      %td 0
      - # Апрель
      %td 0
      - # Май
      %td 0
      - # Июнь
      %td 0
      - # Июль
      %td 0
      - # Август
      %td 0
      - # Сентябрь
      %td 0
      - # Октябрь
      %td 0
      - # Ноябрь
      %td 0
      - # Декабрь
      %td 0
    %tr.fs.tr_name
      %td Спасено
      - # Сутки
      %td 0
      - # Неделя
      %td 0
      - # Месяц
      %td 0
      - # 3 Месяца
      %td 0
      - # 6 Месяцев
      %td 0
      - # 9 Месяцев
      %td 0
      - # Год
      %td 0
      - # Янваь
      %td 0
      - # Февраль
      %td 0
      - # Март
      %td 0
      - # Апрель
      %td 0
      - # Май
      %td 0
      - # Июнь
      %td 0
      - # Июль
      %td 0
      - # Август
      %td 0
      - # Сентябрь
      %td 0
      - # Октябрь
      %td 0
      - # Ноябрь
      %td 0
      - # Декабрь
      %td 0
    %tr.fs.tr_name
      %td Пострадало
      - # Сутки
      %td 0
      - # Неделя
      %td 0
      - # Месяц
      %td 0
      - # 3 Месяца
      %td 0
      - # 6 Месяцев
      %td 0
      - # 9 Месяцев
      %td 0
      - # Год
      %td 0
      - # Янваь
      %td 0
      - # Февраль
      %td 0
      - # Март
      %td 0
      - # Апрель
      %td 0
      - # Май
      %td 0
      - # Июнь
      %td 0
      - # Июль
      %td 0
      - # Август
      %td 0
      - # Сентябрь
      %td 0
      - # Октябрь
      %td 0
      - # Ноябрь
      %td 0
      - # Декабрь
      %td 0
    %tr.fs.tr_name
      %td Погибло
      - # Сутки
      %td 0
      - # Неделя
      %td 0
      - # Месяц
      %td 0
      - # 3 Месяца
      %td 0
      - # 6 Месяцев
      %td 0
      - # 9 Месяцев
      %td 0
      - # Год
      %td 0
      - # Янваь
      %td 0
      - # Февраль
      %td 0
      - # Март
      %td 0
      - # Апрель
      %td 0
      - # Май
      %td 0
      - # Июнь
      %td 0
      - # Июль
      %td 0
      - # Август
      %td 0
      - # Сентябрь
      %td 0
      - # Октябрь
      %td 0
      - # Ноябрь
      %td 0
      - # Декабрь
      %td 0
    %tr.tab_name
      %td{:colspan => "22"}  Загорания
    %tr.fs.tr_name
      %td Случаев
      - # Сутки
      %td 0
      - # Неделя
      %td 0
      - # Месяц
      %td 0
      - # 3 Месяца
      %td 0
      - # 6 Месяцев
      %td 0
      - # 9 Месяцев
      %td 0
      - # Год
      %td 0
      - # Янваь
      %td 0
      - # Февраль
      %td 0
      - # Март
      %td 0
      - # Апрель
      %td 0
      - # Май
      %td 0
      - # Июнь
      %td 0
      - # Июль
      %td 0
      - # Август
      %td 0
      - # Сентябрь
      %td 0
      - # Октябрь
      %td 0
      - # Ноябрь
      %td 0
      - # Декабрь
      %td 0
    %tr.fs.tr_name
      %td Ущерб .р
      - # Сутки
      %td 0
      - # Неделя
      %td 0
      - # Месяц
      %td 0
      - # 3 Месяца
      %td 0
      - # 6 Месяцев
      %td 0
      - # 9 Месяцев
      %td 0
      - # Год
      %td 0
      - # Янваь
      %td 0
      - # Февраль
      %td 0
      - # Март
      %td 0
      - # Апрель
      %td 0
      - # Май
      %td 0
      - # Июнь
      %td 0
      - # Июль
      %td 0
      - # Август
      %td 0
      - # Сентябрь
      %td 0
      - # Октябрь
      %td 0
      - # Ноябрь
      %td 0
      - # Декабрь
      %td 0
    %tr.fs.tr_name
      %td Спасено р.
      - # Сутки
      %td 0
      - # Неделя
      %td 0
      - # Месяц
      %td 0
      - # 3 Месяца
      %td 0
      - # 6 Месяцев
      %td 0
      - # 9 Месяцев
      %td 0
      - # Год
      %td 0
      - # Янваь
      %td 0
      - # Февраль
      %td 0
      - # Март
      %td 0
      - # Апрель
      %td 0
      - # Май
      %td 0
      - # Июнь
      %td 0
      - # Июль
      %td 0
      - # Август
      %td 0
      - # Сентябрь
      %td 0
      - # Октябрь
      %td 0
      - # Ноябрь
      %td 0
      - # Декабрь
      %td 0
    %tr.fs.tr_name
      %td Погибло
      - # Сутки
      %td 0
      - # Неделя
      %td 0
      - # Месяц
      %td 0
      - # 3 Месяца
      %td 0
      - # 6 Месяцев
      %td 0
      - # 9 Месяцев
      %td 0
      - # Год
      %td 0
      - # Янваь
      %td 0
      - # Февраль
      %td 0
      - # Март
      %td 0
      - # Апрель
      %td 0
      - # Май
      %td 0
      - # Июнь
      %td 0
      - # Июль
      %td 0
      - # Август
      %td 0
      - # Сентябрь
      %td 0
      - # Октябрь
      %td 0
      - # Ноябрь
      %td 0
      - # Декабрь
      %td 0
    %tr.fs.tr_name
      %td Пострадало
      - # Сутки
      %td 0
      - # Неделя
      %td 0
      - # Месяц
      %td 0
      - # 3 Месяца
      %td 0
      - # 6 Месяцев
      %td 0
      - # 9 Месяцев
      %td 0
      - # Год
      %td 0
      - # Янваь
      %td 0
      - # Февраль
      %td 0
      - # Март
      %td 0
      - # Апрель
      %td 0
      - # Май
      %td 0
      - # Июнь
      %td 0
      - # Июль
      %td 0
      - # Август
      %td 0
      - # Сентябрь
      %td 0
      - # Октябрь
      %td 0
      - # Ноябрь
      %td 0
      - # Декабрь
      %td 0
    %tr.fs.tr_name
      %td Спасено люд.
      - # Сутки
      %td 0
      - # Неделя
      %td 0
      - # Месяц
      %td 0
      - # 3 Месяца
      %td 0
      - # 6 Месяцев
      %td 0
      - # 9 Месяцев
      %td 0
      - # Год
      %td 0
      - # Янваь
      %td 0
      - # Февраль
      %td 0
      - # Март
      %td 0
      - # Апрель
      %td 0
      - # Май
      %td 0
      - # Июнь
      %td 0
      - # Июль
      %td 0
      - # Август
      %td 0
      - # Сентябрь
      %td 0
      - # Октябрь
      %td 0
      - # Ноябрь
      %td 0
      - # Декабрь
      %td 0
    %tr.fs.tr_name
      %td Площадь
      - # Сутки
      %td 0
      - # Неделя
      %td 0
      - # Месяц
      %td 0
      - # 3 Месяца
      %td 0
      - # 6 Месяцев
      %td 0
      - # 9 Месяцев
      %td 0
      - # Год
      %td 0
      - # Янваь
      %td 0
      - # Февраль
      %td 0
      - # Март
      %td 0
      - # Апрель
      %td 0
      - # Май
      %td 0
      - # Июнь
      %td 0
      - # Июль
      %td 0
      - # Август
      %td 0
      - # Сентябрь
      %td 0
      - # Октябрь
      %td 0
      - # Ноябрь
      %td 0
      - # Декабрь
      %td 0
    %tr.tab_name
      %td{:colspan => "22"}  Прочие выезда
    %tr.fs.tr_name
      %td Взаим-е 02
      - # Сутки
      %td 0
      - # Неделя
      %td 0
      - # Месяц
      %td 0
      - # 3 Месяца
      %td 0
      - # 6 Месяцев
      %td 0
      - # 9 Месяцев
      %td 0
      - # Год
      %td 0
      - # Янваь
      %td 0
      - # Февраль
      %td 0
      - # Март
      %td 0
      - # Апрель
      %td 0
      - # Май
      %td 0
      - # Июнь
      %td 0
      - # Июль
      %td 0
      - # Август
      %td 0
      - # Сентябрь
      %td 0
      - # Октябрь
      %td 0
      - # Ноябрь
      %td 0
      - # Декабрь
      %td 0
    %tr.fs.tr_name
      %td Взаим-е 03
      - # Сутки
      %td 0
      - # Неделя
      %td 0
      - # Месяц
      %td 0
      - # 3 Месяца
      %td 0
      - # 6 Месяцев
      %td 0
      - # 9 Месяцев
      %td 0
      - # Год
      %td 0
      - # Янваь
      %td 0
      - # Февраль
      %td 0
      - # Март
      %td 0
      - # Апрель
      %td 0
      - # Май
      %td 0
      - # Июнь
      %td 0
      - # Июль
      %td 0
      - # Август
      %td 0
      - # Сентябрь
      %td 0
      - # Октябрь
      %td 0
      - # Ноябрь
      %td 0
      - # Декабрь
      %td 0
    %tr.fs.tr_name
      %td Взаим-е 04
      - # Сутки
      %td 0
      - # Неделя
      %td 0
      - # Месяц
      %td 0
      - # 3 Месяца
      %td 0
      - # 6 Месяцев
      %td 0
      - # 9 Месяцев
      %td 0
      - # Год
      %td 0
      - # Янваь
      %td 0
      - # Февраль
      %td 0
      - # Март
      %td 0
      - # Апрель
      %td 0
      - # Май
      %td 0
      - # Июнь
      %td 0
      - # Июль
      %td 0
      - # Август
      %td 0
      - # Сентябрь
      %td 0
      - # Октябрь
      %td 0
      - # Ноябрь
      %td 0
      - # Декабрь
      %td 0
    %tr.fs.tr_name
      %td Взаим-е 072
      - # Сутки
      %td 0
      - # Неделя
      %td 0
      - # Месяц
      %td 0
      - # 3 Месяца
      %td 0
      - # 6 Месяцев
      %td 0
      - # 9 Месяцев
      %td 0
      - # Год
      %td 0
      - # Янваь
      %td 0
      - # Февраль
      %td 0
      - # Март
      %td 0
      - # Апрель
      %td 0
      - # Май
      %td 0
      - # Июнь
      %td 0
      - # Июль
      %td 0
      - # Август
      %td 0
      - # Сентябрь
      %td 0
      - # Октябрь
      %td 0
      - # Ноябрь
      %td 0
      - # Декабрь
      %td 0
    %tr.fs.tr_name
      %td Взаим-е др.сл.
      - # Сутки
      %td 0
      - # Неделя
      %td 0
      - # Месяц
      %td 0
      - # 3 Месяца
      %td 0
      - # 6 Месяцев
      %td 0
      - # 9 Месяцев
      %td 0
      - # Год
      %td 0
      - # Янваь
      %td 0
      - # Февраль
      %td 0
      - # Март
      %td 0
      - # Апрель
      %td 0
      - # Май
      %td 0
      - # Июнь
      %td 0
      - # Июль
      %td 0
      - # Август
      %td 0
      - # Сентябрь
      %td 0
      - # Октябрь
      %td 0
      - # Ноябрь
      %td 0
      - # Декабрь
      %td 0
    %tr.fs.tr_name
      %td Межрайон
      - # Сутки
      %td 0
      - # Неделя
      %td 0
      - # Месяц
      %td 0
      - # 3 Месяца
      %td 0
      - # 6 Месяцев
      %td 0
      - # 9 Месяцев
      %td 0
      - # Год
      %td 0
      - # Янваь
      %td 0
      - # Февраль
      %td 0
      - # Март
      %td 0
      - # Апрель
      %td 0
      - # Май
      %td 0
      - # Июнь
      %td 0
      - # Июль
      %td 0
      - # Август
      %td 0
      - # Сентябрь
      %td 0
      - # Октябрь
      %td 0
      - # Ноябрь
      %td 0
      - # Декабрь
      %td 0
    %tr.fs.tr_name
      %td Ночная проверка
      - # Сутки
      %td 0
      - # Неделя
      %td 0
      - # Месяц
      %td 0
      - # 3 Месяца
      %td 0
      - # 6 Месяцев
      %td 0
      - # 9 Месяцев
      %td 0
      - # Год
      %td 0
      - # Янваь
      %td 0
      - # Февраль
      %td 0
      - # Март
      %td 0
      - # Апрель
      %td 0
      - # Май
      %td 0
      - # Июнь
      %td 0
      - # Июль
      %td 0
      - # Август
      %td 0
      - # Сентябрь
      %td 0
      - # Октябрь
      %td 0
      - # Ноябрь
      %td 0
      - # Декабрь
      %td 0
    %tr.fs.tr_name
      %td КЗ
      - # Сутки
      %td 0
      - # Неделя
      %td 0
      - # Месяц
      %td 0
      - # 3 Месяца
      %td 0
      - # 6 Месяцев
      %td 0
      - # 9 Месяцев
      %td 0
      - # Год
      %td 0
      - # Янваь
      %td 0
      - # Февраль
      %td 0
      - # Март
      %td 0
      - # Апрель
      %td 0
      - # Май
      %td 0
      - # Июнь
      %td 0
      - # Июль
      %td 0
      - # Август
      %td 0
      - # Сентябрь
      %td 0
      - # Октябрь
      %td 0
      - # Ноябрь
      %td 0
      - # Декабрь
      %td 0
    %tr.fs.tr_name
      %td Подгор-е пищи
      - # Сутки
      %td 0
      - # Неделя
      %td 0
      - # Месяц
      %td 0
      - # 3 Месяца
      %td 0
      - # 6 Месяцев
      %td 0
      - # 9 Месяцев
      %td 0
      - # Год
      %td 0
      - # Янваь
      %td 0
      - # Февраль
      %td 0
      - # Март
      %td 0
      - # Апрель
      %td 0
      - # Май
      %td 0
      - # Июнь
      %td 0
      - # Июль
      %td 0
      - # Август
      %td 0
      - # Сентябрь
      %td 0
      - # Октябрь
      %td 0
      - # Ноябрь
      %td 0
      - # Декабрь
      %td 0
    %tr.fs.tr_name
      %td Ложный СПС
      - # Сутки
      %td 0
      - # Неделя
      %td 0
      - # Месяц
      %td 0
      - # 3 Месяца
      %td 0
      - # 6 Месяцев
      %td 0
      - # 9 Месяцев
      %td 0
      - # Год
      %td 0
      - # Янваь
      %td 0
      - # Февраль
      %td 0
      - # Март
      %td 0
      - # Апрель
      %td 0
      - # Май
      %td 0
      - # Июнь
      %td 0
      - # Июль
      %td 0
      - # Август
      %td 0
      - # Сентябрь
      %td 0
      - # Октябрь
      %td 0
      - # Ноябрь
      %td 0
      - # Декабрь
      %td 0
    %tr.fs.tr_name
      %td Заправка АП
      - # Сутки
      %td 0
      - # Неделя
      %td 0
      - # Месяц
      %td 0
      - # 3 Месяца
      %td 0
      - # 6 Месяцев
      %td 0
      - # 9 Месяцев
      %td 0
      - # Год
      %td 0
      - # Янваь
      %td 0
      - # Февраль
      %td 0
      - # Март
      %td 0
      - # Апрель
      %td 0
      - # Май
      %td 0
      - # Июнь
      %td 0
      - # Июль
      %td 0
      - # Август
      %td 0
      - # Сентябрь
      %td 0
      - # Октябрь
      %td 0
      - # Ноябрь
      %td 0
      - # Декабрь
      %td 0
    %tr.fs.tr_name
      %td Заправка АЗС
      - # Сутки
      %td 0
      - # Неделя
      %td 0
      - # Месяц
      %td 0
      - # 3 Месяца
      %td 0
      - # 6 Месяцев
      %td 0
      - # 9 Месяцев
      %td 0
      - # Год
      %td 0
      - # Янваь
      %td 0
      - # Февраль
      %td 0
      - # Март
      %td 0
      - # Апрель
      %td 0
      - # Май
      %td 0
      - # Июнь
      %td 0
      - # Июль
      %td 0
      - # Август
      %td 0
      - # Сентябрь
      %td 0
      - # Октябрь
      %td 0
      - # Ноябрь
      %td 0
      - # Декабрь
      %td 0
    %tr.fs.tr_name
      %td ПМД
      - # Сутки
      %td 0
      - # Неделя
      %td 0
      - # Месяц
      %td 0
      - # 3 Месяца
      %td 0
      - # 6 Месяцев
      %td 0
      - # 9 Месяцев
      %td 0
      - # Год
      %td 0
      - # Янваь
      %td 0
      - # Февраль
      %td 0
      - # Март
      %td 0
      - # Апрель
      %td 0
      - # Май
      %td 0
      - # Июнь
      %td 0
      - # Июль
      %td 0
      - # Август
      %td 0
      - # Сентябрь
      %td 0
      - # Октябрь
      %td 0
      - # Ноябрь
      %td 0
      - # Декабрь
      %td 0
    %tr.fs.tr_name
      %td Терракт
      - # Сутки
      %td 0
      - # Неделя
      %td 0
      - # Месяц
      %td 0
      - # 3 Месяца
      %td 0
      - # 6 Месяцев
      %td 0
      - # 9 Месяцев
      %td 0
      - # Год
      %td 0
      - # Янваь
      %td 0
      - # Февраль
      %td 0
      - # Март
      %td 0
      - # Апрель
      %td 0
      - # Май
      %td 0
      - # Июнь
      %td 0
      - # Июль
      %td 0
      - # Август
      %td 0
      - # Сентябрь
      %td 0
      - # Октябрь
      %td 0
      - # Ноябрь
      %td 0
      - # Декабрь
      %td 0
    %tr.fs.tr_name
      %td Служебные
      - # Сутки
      %td 0
      - # Неделя
      %td 0
      - # Месяц
      %td 0
      - # 3 Месяца
      %td 0
      - # 6 Месяцев
      %td 0
      - # 9 Месяцев
      %td 0
      - # Год
      %td 0
      - # Янваь
      %td 0
      - # Февраль
      %td 0
      - # Март
      %td 0
      - # Апрель
      %td 0
      - # Май
      %td 0
      - # Июнь
      %td 0
      - # Июль
      %td 0
      - # Август
      %td 0
      - # Сентябрь
      %td 0
      - # Октябрь
      %td 0
      - # Ноябрь
      %td 0
      - # Декабрь
      %td 0
    %tr.fs.tr_name
      %td Газопроводы
      - # Сутки
      %td 0
      - # Неделя
      %td 0
      - # Месяц
      %td 0
      - # 3 Месяца
      %td 0
      - # 6 Месяцев
      %td 0
      - # 9 Месяцев
      %td 0
      - # Год
      %td 0
      - # Янваь
      %td 0
      - # Февраль
      %td 0
      - # Март
      %td 0
      - # Апрель
      %td 0
      - # Май
      %td 0
      - # Июнь
      %td 0
      - # Июль
      %td 0
      - # Август
      %td 0
      - # Сентябрь
      %td 0
      - # Октябрь
      %td 0
      - # Ноябрь
      %td 0
      - # Декабрь
      %td 0
    %tr.fs.tr_name
      %td Открытая вода
      - # Сутки
      %td 0
      - # Неделя
      %td 0
      - # Месяц
      %td 0
      - # 3 Месяца
      %td 0
      - # 6 Месяцев
      %td 0
      - # 9 Месяцев
      %td 0
      - # Год
      %td 0
      - # Янваь
      %td 0
      - # Февраль
      %td 0
      - # Март
      %td 0
      - # Апрель
      %td 0
      - # Май
      %td 0
      - # Июнь
      %td 0
      - # Июль
      %td 0
      - # Август
      %td 0
      - # Сентябрь
      %td 0
      - # Октябрь
      %td 0
      - # Ноябрь
      %td 0
      - # Декабрь
      %td 0
    %tr.fs.tr_name
      %td Ложные
      - # Сутки
      %td 0
      - # Неделя
      %td 0
      - # Месяц
      %td 0
      - # 3 Месяца
      %td 0
      - # 6 Месяцев
      %td 0
      - # 9 Месяцев
      %td 0
      - # Год
      %td 0
      - # Янваь
      %td 0
      - # Февраль
      %td 0
      - # Март
      %td 0
      - # Апрель
      %td 0
      - # Май
      %td 0
      - # Июнь
      %td 0
      - # Июль
      %td 0
      - # Август
      %td 0
      - # Сентябрь
      %td 0
      - # Октябрь
      %td 0
      - # Ноябрь
      %td 0
      - # Декабрь
      %td 0
    %tr.fs.tr_name
      %td Потерявшиеся
      - # Сутки
      %td 0
      - # Неделя
      %td 0
      - # Месяц
      %td 0
      - # 3 Месяца
      %td 0
      - # 6 Месяцев
      %td 0
      - # 9 Месяцев
      %td 0
      - # Год
      %td 0
      - # Янваь
      %td 0
      - # Февраль
      %td 0
      - # Март
      %td 0
      - # Апрель
      %td 0
      - # Май
      %td 0
      - # Июнь
      %td 0
      - # Июль
      %td 0
      - # Август
      %td 0
      - # Сентябрь
      %td 0
      - # Октябрь
      %td 0
      - # Ноябрь
      %td 0
      - # Декабрь
      %td 0
    %tr.fs.tr_name
      %td Метеоявления
      - # Сутки
      %td 0
      - # Неделя
      %td 0
      - # Месяц
      %td 0
      - # 3 Месяца
      %td 0
      - # 6 Месяцев
      %td 0
      - # 9 Месяцев
      %td 0
      - # Год
      %td 0
      - # Янваь
      %td 0
      - # Февраль
      %td 0
      - # Март
      %td 0
      - # Апрель
      %td 0
      - # Май
      %td 0
      - # Июнь
      %td 0
      - # Июль
      %td 0
      - # Август
      %td 0
      - # Сентябрь
      %td 0
      - # Октябрь
      %td 0
      - # Ноябрь
      %td 0
      - # Декабрь
      %td 0
    %tr.tab_name
      %td{:colspan => "22"}  ПТП/КТП
    %tr.fs.tr_name
      %td Планов
      - # Сутки
      %td 0
      - # Неделя
      %td 0
      - # Месяц
      %td 0
      - # 3 Месяца
      %td 0
      - # 6 Месяцев
      %td 0
      - # 9 Месяцев
      %td 0
      - # Год
      %td 0
      - # Янваь
      %td 0
      - # Февраль
      %td 0
      - # Март
      %td 0
      - # Апрель
      %td 0
      - # Май
      %td 0
      - # Июнь
      %td 0
      - # Июль
      %td 0
      - # Август
      %td 0
      - # Сентябрь
      %td 0
      - # Октябрь
      %td 0
      - # Ноябрь
      %td 0
      - # Декабрь
      %td 0
    %tr.fs.tr_name
      %td Карточек
      - # Сутки
      %td 0
      - # Неделя
      %td 0
      - # Месяц
      %td 0
      - # 3 Месяца
      %td 0
      - # 6 Месяцев
      %td 0
      - # 9 Месяцев
      %td 0
      - # Год
      %td 0
      - # Янваь
      %td 0
      - # Февраль
      %td 0
      - # Март
      %td 0
      - # Апрель
      %td 0
      - # Май
      %td 0
      - # Июнь
      %td 0
      - # Июль
      %td 0
      - # Август
      %td 0
      - # Сентябрь
      %td 0
      - # Октябрь
      %td 0
      - # Ноябрь
      %td 0
      - # Декабрь
      %td 0
    %tr.tab_name
      %td{:colspan => "22"} Занятия
    %tr.fs.tr_name
      %td Тренировки ЦУКС/ЕДДС
      - # Сутки
      %td 0
      - # Неделя
      %td 0
      - # Месяц
      %td 0
      - # 3 Месяца
      %td 0
      - # 6 Месяцев
      %td 0
      - # 9 Месяцев
      %td 0
      - # Год
      %td 0
      - # Янваь
      %td 0
      - # Февраль
      %td 0
      - # Март
      %td 0
      - # Апрель
      %td 0
      - # Май
      %td 0
      - # Июнь
      %td 0
      - # Июль
      %td 0
      - # Август
      %td 0
      - # Сентябрь
      %td 0
      - # Октябрь
      %td 0
      - # Ноябрь
      %td 0
      - # Декабрь
      %td 0
    %tr.fs.tr_name
      %td ПСП ГДЗС
      - # Сутки
      %td 0
      - # Неделя
      %td 0
      - # Месяц
      %td 0
      - # 3 Месяца
      %td 0
      - # 6 Месяцев
      %td 0
      - # 9 Месяцев
      %td 0
      - # Год
      %td 0
      - # Янваь
      %td 0
      - # Февраль
      %td 0
      - # Март
      %td 0
      - # Апрель
      %td 0
      - # Май
      %td 0
      - # Июнь
      %td 0
      - # Июль
      %td 0
      - # Август
      %td 0
      - # Сентябрь
      %td 0
      - # Октябрь
      %td 0
      - # Ноябрь
      %td 0
      - # Декабрь
      %td 0
    %tr.fs.tr_name
      %td ПТПхП
      - # Сутки
      %td 0
      - # Неделя
      %td 0
      - # Месяц
      %td 0
      - # 3 Месяца
      %td 0
      - # 6 Месяцев
      %td 0
      - # 9 Месяцев
      %td 0
      - # Год
      %td 0
      - # Янваь
      %td 0
      - # Февраль
      %td 0
      - # Март
      %td 0
      - # Апрель
      %td 0
      - # Май
      %td 0
      - # Июнь
      %td 0
      - # Июль
      %td 0
      - # Август
      %td 0
      - # Сентябрь
      %td 0
      - # Октябрь
      %td 0
      - # Ноябрь
      %td 0
      - # Декабрь
      %td 0
    %tr.fs.tr_name
      %td Спец. техника
      - # Сутки
      %td 0
      - # Неделя
      %td 0
      - # Месяц
      %td 0
      - # 3 Месяца
      %td 0
      - # 6 Месяцев
      %td 0
      - # 9 Месяцев
      %td 0
      - # Год
      %td 0
      - # Янваь
      %td 0
      - # Февраль
      %td 0
      - # Март
      %td 0
      - # Апрель
      %td 0
      - # Май
      %td 0
      - # Июнь
      %td 0
      - # Июль
      %td 0
      - # Август
      %td 0
      - # Сентябрь
      %td 0
      - # Октябрь
      %td 0
      - # Ноябрь
      %td 0
      - # Декабрь
      %td 0
    %tr.fs.tr_name
      %td ООТП и ПАСР
      - # Сутки
      %td 0
      - # Неделя
      %td 0
      - # Месяц
      %td 0
      - # 3 Месяца
      %td 0
      - # 6 Месяцев
      %td 0
      - # 9 Месяцев
      %td 0
      - # Год
      %td 0
      - # Янваь
      %td 0
      - # Февраль
      %td 0
      - # Март
      %td 0
      - # Апрель
      %td 0
      - # Май
      %td 0
      - # Июнь
      %td 0
      - # Июль
      %td 0
      - # Август
      %td 0
      - # Сентябрь
      %td 0
      - # Октябрь
      %td 0
      - # Ноябрь
      %td 0
      - # Декабрь
      %td 0
    %tr.fs.tr_name
      %td ТДК
      - # Сутки
      %td 0
      - # Неделя
      %td 0
      - # Месяц
      %td 0
      - # 3 Месяца
      %td 0
      - # 6 Месяцев
      %td 0
      - # 9 Месяцев
      %td 0
      - # Год
      %td 0
      - # Янваь
      %td 0
      - # Февраль
      %td 0
      - # Март
      %td 0
      - # Апрель
      %td 0
      - # Май
      %td 0
      - # Июнь
      %td 0
      - # Июль
      %td 0
      - # Август
      %td 0
      - # Сентябрь
      %td 0
      - # Октябрь
      %td 0
      - # Ноябрь
      %td 0
      - # Декабрь
      %td 0
    %tr.fs.tr_name
      %td ТК
      - # Сутки
      %td 0
      - # Неделя
      %td 0
      - # Месяц
      %td 0
      - # 3 Месяца
      %td 0
      - # 6 Месяцев
      %td 0
      - # 9 Месяцев
      %td 0
      - # Год
      %td 0
      - # Янваь
      %td 0
      - # Февраль
      %td 0
      - # Март
      %td 0
      - # Апрель
      %td 0
      - # Май
      %td 0
      - # Июнь
      %td 0
      - # Июль
      %td 0
      - # Август
      %td 0
      - # Сентябрь
      %td 0
      - # Октябрь
      %td 0
      - # Ноябрь
      %td 0
      - # Декабрь
      %td 0
    %tr.fs.tr_name
      %td Нормативы
      - # Сутки
      %td 0
      - # Неделя
      %td 0
      - # Месяц
      %td 0
      - # 3 Месяца
      %td 0
      - # 6 Месяцев
      %td 0
      - # 9 Месяцев
      %td 0
      - # Год
      %td 0
      - # Янваь
      %td 0
      - # Февраль
      %td 0
      - # Март
      %td 0
      - # Апрель
      %td 0
      - # Май
      %td 0
      - # Июнь
      %td 0
      - # Июль
      %td 0
      - # Август
      %td 0
      - # Сентябрь
      %td 0
      - # Октябрь
      %td 0
      - # Ноябрь
      %td 0
      - # Декабрь
      %td 0
    %tr.fs.tr_name
      %td ПТУ
      - # Сутки
      %td 0
      - # Неделя
      %td 0
      - # Месяц
      %td 0
      - # 3 Месяца
      %td 0
      - # 6 Месяцев
      %td 0
      - # 9 Месяцев
      %td 0
      - # Год
      %td 0
      - # Янваь
      %td 0
      - # Февраль
      %td 0
      - # Март
      %td 0
      - # Апрель
      %td 0
      - # Май
      %td 0
      - # Июнь
      %td 0
      - # Июль
      %td 0
      - # Август
      %td 0
      - # Сентябрь
      %td 0
      - # Октябрь
      %td 0
      - # Ноябрь
      %td 0
      - # Декабрь
      %td 0
    %tr.fs.tr_name
      %td Проверка боеготовности
      - # Сутки
      %td 0
      - # Неделя
      %td 0
      - # Месяц
      %td 0
      - # 3 Месяца
      %td 0
      - # 6 Месяцев
      %td 0
      - # 9 Месяцев
      %td 0
      - # Год
      %td 0
      - # Янваь
      %td 0
      - # Февраль
      %td 0
      - # Март
      %td 0
      - # Апрель
      %td 0
      - # Май
      %td 0
      - # Июнь
      %td 0
      - # Июль
      %td 0
      - # Август
      %td 0
      - # Сентябрь
      %td 0
      - # Октябрь
      %td 0
      - # Ноябрь
      %td 0
      - # Декабрь
      %td 0
    %tr.fs.tr_name
      %td Эвакуация
      - # Сутки
      %td 0
      - # Неделя
      %td 0
      - # Месяц
      %td 0
      - # 3 Месяца
      %td 0
      - # 6 Месяцев
      %td 0
      - # 9 Месяцев
      %td 0
      - # Год
      %td 0
      - # Янваь
      %td 0
      - # Февраль
      %td 0
      - # Март
      %td 0
      - # Апрель
      %td 0
      - # Май
      %td 0
      - # Июнь
      %td 0
      - # Июль
      %td 0
      - # Август
      %td 0
      - # Сентябрь
      %td 0
      - # Октябрь
      %td 0
      - # Ноябрь
      %td 0
      - # Декабрь
      %td 0
    %tr.fs.tr_name
      %td Учения
      - # Сутки
      %td 0
      - # Неделя
      %td 0
      - # Месяц
      %td 0
      - # 3 Месяца
      %td 0
      - # 6 Месяцев
      %td 0
      - # 9 Месяцев
      %td 0
      - # Год
      %td 0
      - # Янваь
      %td 0
      - # Февраль
      %td 0
      - # Март
      %td 0
      - # Апрель
      %td 0
      - # Май
      %td 0
      - # Июнь
      %td 0
      - # Июль
      %td 0
      - # Август
      %td 0
      - # Сентябрь
      %td 0
      - # Октябрь
      %td 0
      - # Ноябрь
      %td 0
      - # Декабрь
      %td 0
    %tr.fs.tr_name
      %td Подготовка к учениям
      - # Сутки
      %td 0
      - # Неделя
      %td 0
      - # Месяц
      %td 0
      - # 3 Месяца
      %td 0
      - # 6 Месяцев
      %td 0
      - # 9 Месяцев
      %td 0
      - # Год
      %td 0
      - # Янваь
      %td 0
      - # Февраль
      %td 0
      - # Март
      %td 0
      - # Апрель
      %td 0
      - # Май
      %td 0
      - # Июнь
      %td 0
      - # Июль
      %td 0
      - # Август
      %td 0
      - # Сентябрь
      %td 0
      - # Октябрь
      %td 0
      - # Ноябрь
      %td 0
      - # Декабрь
      %td 0

%table.fs_2
  %thead
    %th Наим-е
    %th Сутки
    %th Неделя
    %th Месяц
    %th 3 Мес.
    %th 6 мес.
    %th 9 мес.
    %th год
    %th Янв.
    %th Февр.
    %th Март
    %th Апр.
    %th Май
    %th Июнь
    %th Июль
    %th Авг.
    %th Сен.
    %th Окт.
    %th Ноя.
    %th Дек.
  %tbody