- if !@ipv.nil?

  - if @ipv.ac_not_water != 0
    %span
      От АЦ без установки на водоисточник

  - if @ipv.pg_magistral_line != 0
    %span
      С прокладкой магистральной линии от АЦ(МП),
      %br
      установленной на ПГ

  - if @ipv.pv_magistral_line != 0
    %span
      С прокладкой магистральной линии от АЦ(МП),
      %br
      установленной ПВ
  - if @ipv.vodoem_magistral_line != 0
    %span
      С прокладкой магистральной линии от АЦ(МП),
      %br
      установленной на естественный водоем
  - if @ipv.vnb_magistral_line != 0
    %span
      С прокладкой магистральной линии от АЦ(МП),
      %br
      установленной на ВНБ
  - if @ipv.vnutr_vodoem != 0
    %span
      От внутреннего пожарного водопровода
  - if @ipv.perekachka != 0
    %span
      Методом перекачки от водоисточников,
      %br
      расположенных на расстоянии более 500 метров
  - if @ipv.pg_podvoz != 0
    %span
      Методом подвоза воды пожарной техникой
      %br
      с забором воды от АЦ(МП) от ПГ
  - if @ipv.pv_podvoz != 0
    %span
      Методом подвоза воды пожарной техникой
      %br
      с забором воды от АЦ(МП) от ПВ
  - if @ipv.vodoem_podvoz != 0
    %span
      Методом подвоза воды пожарной техникой
      %br
      с забором воды от АЦ(МП) от
      %br
      естественного водоема
  - if @ipv.vnb_podvoz != 0
    %span
      Методом подвоза воды пожарной техникой
      %br
      с забором воды от АЦ(МП) от ВНБ
  - if @ipv.neskolko != 0
    %span
      С использованием нескольких видов
      %br
      водоисточников
  - if @ipv.do_pribytia != 0
    %span
      Потушено до прибытия
  %br
  %br
    %strong
      = link_to 'Изменить ИППВ', edit_ipv_path(:fire_id => @fire.id)
- else
  = link_to 'Добавить ИППВ', new_ipv_path(:fire_id => @fire.id)
